{:paths ["src" "resources"]
 :deps {ring/ring {:mvn/version "1.9.6"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        compojure/compojure {:mvn/version "1.7.0"}
        ring/ring-json {:mvn/version "0.5.1"}}}